<!DOCTYPE html>
<html>
  <?- include('partials/head.html') ?>
  <body bgcolor="f1f1f1" style="background-color: #f1f1f1; margin: 0px; padding: 20px">
    <table align="center" bgcolor="white" border="0" cellpadding="0" cellspacing="0" class="main" style="border-collapse: separate; border-spacing: 0; font-family: HelveticaNeue, Helvetica, Arial, sans-serif; letter-spacing: 0; table-layout: fixed" width="595">
      <tbody>
        <tr>
          <td class="main-td" style="border-radius: 2px; box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 30px 35px 40px">
            <?- include('partials/logo.html') ?>
            <?- include(data.template) ?>
          </td>
        </tr>
      </tbody>
    </table>
    <?- include('partials/footer.html') ?>
  </body>
</html>